@model CategoryViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    <br>
    <h4>Produtos</h4>
    <hr />
    <partial name="_ProductsList" model="@Model.Products">
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>

